<% if user_signed_in? %>
 <div class="search-form">
   <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.text_field :search %>
    <%= f.submit '検索', name: nil %>
    <% end %>
 </div>
 <% end %>